<div id="header_area">
    <a href="en_index.html">
        <img src="./images/logo.jpg" width="400"
            alt="WILLIAM KW LEUNG &amp; CO Solicitor Advocate Also a practicing solicitor in England &amp; Wales; and British Virgin Islands, Caribbean FCIArb; FSIArb; FAMINZ; FHKIArb; FHKIoD; FHKSI"
            title="WILLIAM KW LEUNG &amp; CO Solicitor Advocate Also a practicing solicitor in England &amp; Wales; and British Virgin Islands, Caribbean FCIArb; FSIArb; FAMINZ; FHKIArb; FHKIoD; FHKSI" />
    </a>
    <div id="top_menu">
        <a href="en_index.html">Home</a>
        <a href="en_contact.html">Contact Us</a>
        <a href="javascript:changelang(&#39;b5&#39;);">繁體</a>
        <a href="javascript:changelang(&#39;gb&#39;);">简体</a>
    </div>
</div>