<div id="menu_area">
  <div>
    <ul class="menu" id="menu">
      <li><a href="gb_about.html" class="menulink">关于我们</a></li>
      <li><a href="gb_practice.html" class="menulink">业务范畴</a></li>
      <li><a href="gb_index.html#" class="menulink">专业团队</a>
        <ul>
          <li><a href="gb_professional1.html">主任律师 (创办独资人)</a></li>
          <li><a href="gb_professional2.html">律师</a></li>

        </ul>
      </li>
      <li><a href="gb_publications.html" class="menulink">刊物</a>
        <!--<ul><li><a href="#">Commercial Law</a></li>
           <li><a href="#">Ship Sale and Purchase</a></li>
             <li><a href="#">International Commercial Litigation & Arbitration </a></li>
             <li><a href="#">Corporate Mergers & Acquisitions,Transnational Investment,Restructuring and Liquidation </a></li>
             <li><a href="#">Corporate Finance and  Listing Rules of Securities</a></li>
             <li><a href="#">Banking & Finance </a></li>
             <li><a href="#">Civil Litigation</a></li>
             <li><a href="#">Intellectual Property Rights </a></li>
             <li><a href="#">Real Estate Project Development</a></li>
             <li><a href="#">Will & Probate, Matrimonial and others</a></li>
      </ul>-->
      </li>
      <li><a href="gb_reported.html" class="menulink">案例集</a></li>
      <li><a href="gb_award.html">仲裁裁决</a></li>
      <li><a href="gb_resources.html" class="menulink">资源</a></li>

    </ul>
  </div>

</div>